In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import seaborn as sea

In [30]:
#import library
df = pd.read_csv("CRV%20Txns.csv")
df = df[['DateTime (UTC)', 'Quantity', 'Method']]
df['Quantity'] = df['Quantity'].str.replace(",","").astype('float')


df['Quant_Cumul'] = df['Quantity'].cumsum()
df['DateTime (UTC)'] = pd.to_datetime(df['DateTime (UTC)'])
df.set_index('DateTime (UTC)', inplace = True)

,DateTime (UTC),Quantity,Method,Quant_Cumul
0,2020-08-12 22:17:28,1.303030e+09,-,1.303030e+09
1,2020-08-13 12:52:02,1.515152e+08,Add_tokens,1.454545e+09
2,2020-08-13 15:27:30,1.401682e+07,Transfer,1.468562e+09
3,2020-08-13 15:28:54,2.666667e+07,Transfer,1.495229e+09
4,2020-08-13 15:30:28,1.515152e+08,Transfer,1.646744e+09
...,...,...,...,...
4995,2020-08-14 02:17:56,1.570507e+02,Delegate,2.606295e+09
4996,2020-08-14 02:17:56,1.570507e+02,Delegate,2.606295e+09
4997,2020-08-14 02:18:03,4.000000e+01,Swap Exact Tokens For ETH,2.606295e+09
4998,2020-08-14 02:18:03,7.458843e+01,Delegate,2.606295e+09
4999,2020-08-14 02:18:03,7.458843e+01,Delegate,2.606295e+09

In [27]:
e

,DateTime (UTC),Quantity,Method
0,2020-08-12 22:17:28,"1,303,030,303",-
1,2020-08-13 12:52:02,"151,515,151.515151515151515151",Add_tokens
2,2020-08-13 15:27:30,"14,016,820.183895092715910255",Transfer
3,2020-08-13 15:28:54,"26,666,666.666046511627906979",Transfer
4,2020-08-13 15:30:28,"151,515,151.508104298801973224",Transfer
...,...,...,...
4995,2020-08-14 02:17:56,157.050699247239279328,Delegate
4996,2020-08-14 02:17:56,157.050699247239279328,Delegate
4997,2020-08-14 02:18:03,40,Swap Exact Tokens For ETH
4998,2020-08-14 02:18:03,74.588433516908835452,Delegate
4999,2020-08-14 02:18:03,74.588433516908835452,Delegate